@import url('font.css');

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
}

header {
    display: flex;
    min-height: 76px;
    padding-left: 120px;
    padding-right: 120px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EFF5FB;
}

main {
    padding-left: 120px;
    padding-right: 120px;
}

footer {
    min-height: 302px;
    background-color: #2963A3;
}

h1{
    margin: 0;
    padding: 0;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    line-height: 56px;
    font-size: 48px;
    font-weight: 700;
}

.header__logo {
    cursor: pointer;
}

.header__list {
    margin: 0;
    padding: 0px 0px 0px 51px;
    list-style: none;
    display: flex;
    gap: 30px;
}

.header__link {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-style: medium;
    font-weight: 600;
    color: #333;
    text-decoration: none;
}

.header__button {
    min-height: 48px;
    width: 230px;
    padding: 14px 20px;
    margin-left: 164px;
    border-radius: 4px;
    border: 0px;
    background-color: #E3F5F5;
    color: #03B2A5;
    font-family: 'Montserrat' sans-serif;;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.breadcrumb {
    display: block;
    margin: 0;
    paddimg: 0;
}

.breadcrumb__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 6px;
    margin-top: 16px;
    gap: 8px;
}

.breadcrumb__link {
    text-decoration: none;
    color: rgb(51, 51, 51, 0.7);
    font-family: 'Montserrat' sans-serif;;
    font-style: normal;
    line-height: 18px;
    font-size: 12px;
    font-weight: 400;

}

.breadcrumb__element:not(:last-child):after {
    content: ">";
    margin-left: 10px;
    width: 9px;
    height: 5px;
    color: rgb(51, 51, 51, 0.7);
}

.filter {
    margin: 32px 0px 0px 0px;
    padding: 0;
}

.filter__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 8px;
}

.filter__element {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 5px 7px;
    gap: 4px;
    align-items: center;
    min-height: 32px;
    border: 1px solid #C1C5CD;
    border-radius: 24px;
    
}

.filer__link {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #333;
}

/* Блок главных статей */

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 24px;
    margin-top: 24px;
}

.hero__article {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: auto;
    min-height: 499px;
}
.hero__article_material {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 16px 16px;
    border-bottom: 1px solid #DEDEDE;
    border-left: 1px solid #DEDEDE;
    border-right: 1px solid #DEDEDE;
    border-radius: 0px 0px 16px 16px;
}

.hero__article_img {
    display: flex;
    align-items: flex-start;
}

.hero__article_img_image {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 100%;
}

.hero__article_filter__list {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    margin: 0;
    padding: 8px 0px 0px 8px;
    gap: 8px;
}

.hero__article_filter__element {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 5px 7px;
    gap: 4px;
    align-items: center;
    min-height: 32px;
    border: 1px solid #C1C5CD;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 0.7);
    ;
}

.hero__article_filer__link {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #333;
}

.hero__article_title {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    color: #333333;
}

.hero__article_author {
    margin: 4px 0px 0px 0px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #494949;
}

.hero__article_preview {
    margin: 8px 0px 0px 0px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
}

.hero__article_date {
    margin-top: auto;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #494949;  
}

/* Блок остальных статей */

.other {
    display: grid;
    grid-template:1fr 1fr / 1fr 1fr 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    margin-top: 24px;
}

.other__article {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: auto;
    min-height: 475px;
}
.other__article_material {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 16px 16px;
    border-bottom: 1px solid #DEDEDE;
    border-left: 1px solid #DEDEDE;
    border-right: 1px solid #DEDEDE;
    border-radius: 0px 0px 16px 16px;
}

.other__article_img {
    display: flex;
    align-items: flex-start;
}

.other__article_img_image {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 100%;
}

.other__article_filter__list {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    margin: 0;
    padding: 8px 0px 0px 8px;
    gap: 8px;
}

.other__article_filter__element {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 5px 7px;
    gap: 4px;
    align-items: center;
    min-height: 32px;
    border: 1px solid #C1C5CD;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 0.7);
    ;
}

.other__article_filer__link {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #333;
}

.other__article_title {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    color: #333333;
}

.other__article_author {
    margin: 4px 0px 0px 0px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #494949;
}

.other__article_preview {
    margin: 8px 0px 0px 0px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
}

.other__article_date {
    margin-top: auto;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #494949;  
}

.btn__more_articles {
    margin: 56px auto 96px;
    text-align: center;
}
.more_articles {
    min-height: 48px;
    background-color: #35B3A9;
    border-radius: 4px;
    padding: 12px 72.5px;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    border: none;
    cursor: pointer;
}

/* Подвал основной*/

footer {
    display: flex;
    flex-direction: column;
    padding: 40px 120px 0px 120px;
}

.footer__base {
    display: flex;
    padding: 0;
    gap: 91.5px;
}

/* Подвал основной  меню*/

.footer__base_menu {
    display: flex;
    justify-content: space-between;
    min-height: 184px;
    min-width: 274px;
}

.footer__base_menu__list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    row-gap: 16px;
    margin: 0;
    padding: 0;
}

.footer__base_menu__element {
    list-style: none;
}

.footer__base_menu__link {
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

/* Подвал основной подписка*/

.footer__base_sub {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin: 0;
}

.footer__base_sub__title {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    color: #FFFFFF;
}

.footer__base form {
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 384px;
}

.footer__base_sub__input {
    margin: 0;
    position: relative;
    height: 48px;
    width: 100%;
    padding: 14px 52px 14px 16px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(157, 157, 157, 0.2);
    border-radius: 4px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(157, 157, 157, 1);
}

.footer__base_sub__input:hover {
    outline: none;
}

.footer__base_sub__input:focus {
    outline: none;
}

.footer__base_sub__button {
    position: absolute;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 4px;
    min-height: 48px;
    width: 64px;
    background-color: rgba(22, 200, 187, 1);
    align-items: flex-end;
}

.footer__base_sub__button_button_img {
    align-self: center;
    width: 24px;
    height: 24px;
}

.footer__base_sub__agreement {
    margin: 0;
font-family: Montserrat;
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0.25px;
text-align: left;
color: rgba(255, 255, 255, 0.7)
}

/* Подвал основной соц.сети*/

.footer__base_social {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 40px;
}

.footer__base_social__participant {
    display: flex;
    flex-flow: row nowrap;
    gap: 8px;
}

.footer__base_social__list {
    display: flex;
    flex-flow: row nowrap;
    gap: 16px;
}

/* Подвал справочная информация */

.footer__reference {
    margin-top: 24px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 48px;
    border-top: 1px solid #9D9D9D;
}

.footer__reference_copyright {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.7);
}

.footer__reference_link {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.7);
}